{% load i18n %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NotesGroup</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

    <link rel="stylesheet" href="{{ http_static }}/css/tree-control.css"></script>
    <link rel="stylesheet" href="{{ http_static }}/css/notesgroup.css"></script>

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular-sanitize.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular-cookies.js"></script>
    <script src='http://cdn.jsdelivr.net/g/angular.textangular@1.2.0(textAngular-sanitize.min.js+textAngular.min.js)'></script>
    <script>
     var DEBUG = true;
     var USERID = {{ user.id }};
     var EMP_L = {{ employe_l|safe }};
    </script>
    <script src="{{ http_static }}/js/ext/angular-tree-control.js"></script>
    <script src="{{ http_static }}/js/app.js"></script>
    <script src="{{ http_static }}/js/controllers.js"></script>
  </head>
  <body ng-app="myApp"
        ng-controller="TopCtrl"
        ng-init="initialize()">
    <div class="row">
      <div class="col-md-2">.col-md-4</div>
      <div class="col-md-10" ng-controller="NoteCtrl">
        <form class="form-inline" role="form">

          <label>
            {% trans "State" %} {{ form.etat_note }}
          </label>

          <label>
            {% trans "Scope" %}
            {{ form.path }}
            <span id="html_chemin_txt"></span>
          </label>

          <label>
            {% trans "From" %}
            <select ng-model="queryParams.demandeur" ng-options="e.uid as e.title group by e.societe for e in emp_l"></select>
          </label>

          <label>
            {% trans "To" %}
            <select ng-model="queryParams.responsable" ng-options="e.uid as e.title group by e.societe for e in emp_l"></select>
          </label>

          <label>
            <b>{% trans "Actor" %}</b>&nbsp;
            <select ng-model="queryParams.timer_actor" ng-options="e.uid as e.title group by e.societe for e in emp_l"></select>
            <input type="text" ng-model="queryParams.timer_date" />
          </label>

          <label>
            <b>{{ form.sel_txt }}</b>
          </label>
          <label>
            {% trans "contains" %} <input type="text" id="id_resume" name="txt" size="40" />
          </label>

          <span id="label_group">
            {% trans "Modified between" %} <input type="text" ng-model="queryParams.date_start" />
            {% trans "and" %} <input type="text" ng-model="queryParams.date_start" />
          </span>
          <input type="hidden" id="id_chemin" name="chemin" />

          <label>
            {{ form.limit }} {% trans "results" %}
          </label>

          <input class="btn btn-primary" type="submit" value="{% trans "Search" %}" ng-click="load()" />

        </form>
      </div>
    </div>
    {% verbatim %}
      <div class="row" ng-controller="NoteCtrl" ng-init="initialize()">
        <div class="col-md-2">
          <treecontrol tree-model="top.tree"
                       options="treeOptions"
                       on-selection="showSelected(node)"
                       selected-node="node1">
            {{node.nom}}
          </treecontrol>
        </div>
        <div class="col-md-10">
          <div class="list-group">
            <div ng-repeat="note in top.notes" class="list-group-item">
              <h4 class="list-group-item-headings"><a href="" ng-click="toggleDetail(note)">{{ note.nom }}</a></h4>
              <p class="list-group-item-text">
                <div ng-show="note.description" text-angular ng-model="note.description"></div>
              </p>
            </div>

          </div>
        </div>
      </div>
    {% endverbatim %}

  </body>
</html>
