{% load i18n %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>NotesGroup</title>
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{{ http_static }}/css/tree-control.css"></script>

        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular-cookies.js"></script>
        <script>
         var DEBUG = true;
         var USERID = {{ user.id }};
        </script>
        <script src="{{ http_static }}/js/ext/angular-tree-control.js"></script>
        <script src="{{ http_static }}/js/app.js"></script>
        <script src="{{ http_static }}/js/controllers.js"></script>
    </head>
    {% verbatim %}
        <body ng-app="myApp"
              ng-controller="TopCtrl"
              ng-init="initialize()">
            <div class="row">
                <div class="col-md-3">.col-md-4</div>
                <div class="col-md-9">.col-md-4</div>
            </div>
            <div class="row" ng-controller="CommonCtrl" ng-init="initialize()">
                <div class="col-md-3" ng-controller="TreeCtrl" ng-init="initialize()">
                    <treecontrol tree-model="top.tree"
                                 options="treeOptions"
                                 on-selection="showSelected(node)"
                                 selected-node="node1">
                        {{node.nom}}
                    </treecontrol>
                </div>
                <div class="col-md-9" ng-controller="NoteCtrl" ng-init="initialize()">
                    <div ng-repeat="note in top.notes">
                        <h2>{{ note.nom }}</h2>
                    </div>
                </div>
            </div>
        </body>
    {% endverbatim %}
</html>
